.container{
    border: solid 1px #293972;
    border-radius: 5px;
    margin: 20px;
    padding:20px;
    background-color: #f7f7f7;
    height: 50px;
}

#singleTran:hover{
    color:orange;
}

#text{
    margin: auto;
}

#date{
    margin-left: 40px;
    margin-right: 40px;
}

#hash{
    text-align: center;
    margin-right: 40px;
}

#value{
    margin-left: 40px;
    margin-right: 40px;
    text-align: right;
    float: right;
}