<div class="container">
    <h1 class="display-4 m-4">Summary</h1>
    <h6 class="ml-4 mt-3 mb-3">Hash : {{hash}}</h6>
    <div class="card m-4">
        <div class="row">
            <div class="col-lg-5">
                <div class="card" style="width: 26rem;">
                    <ul class="mr-2">
                      <li *ngFor="let i of tranDetails?.inputs">
                        <small class="float-left">{{i.prev_out.addr}}</small><small class="float-right">
                            {{i.prev_out.value/100000000}}  <fa-icon class="ml-2" [icon]="faArrowRight" [styles]="{'stroke': 'blue', 'color': 'blue'}" ></fa-icon>
                        </small>
                      </li>
                    </ul>
                  </div>
            </div>
            <div class="col-lg-2">
                <fa-icon class="ml-3 p-4" [icon]="faAngleDoubleRight" size="5x" [styles]="{'stroke': 'green', 'color': 'green'}"></fa-icon>
            </div>
            <div class="col-lg-5">
                <div class="card" style="width: 26rem;">
                    <ul class="mr-2">
                      <li  *ngFor="let i of tranDetails?.out">
                        <small class="float-left">{{i.addr}}</small>
                        <small class="float-right">
                            {{i.value/100000000}} 
                            <fa-icon *ngIf="i.spent" class="ml-2" [icon]="faArrowRight" [styles]="{ 'color': 'red'}" ></fa-icon>
                            <fa-icon *ngIf="!i.spent" class="ml-2" [icon]="faArrowLeft" [styles]="{ 'color': 'green'}" ></fa-icon>
                        </small>
                      </li>
                    </ul>
                  </div>
            </div>
        </div>     
    </div>
    
    <h1 class="display-5 ml-4">Details</h1>
    
    
    
    <div class="row m-4">
        <div class="col-md-2">
            <p class="font-weight-light">Hash</p>
            <hr>
            <p class="font-weight-light">Block Height</p>
            <hr>
            <p class="font-weight-light">Double Spend</p>
            <hr>
            <p class="font-weight-light">Size</p>
            <hr>
            <p class="font-weight-light">Received Time</p>
            <hr>
        </div>
        <div class="col-md-10">
            <p class="font-weight-light">{{hash}}</p>
            <hr>
            <p class="font-weight-light">{{tranDetails?.block_height}}</p>
            <hr>
            <p class="font-weight-light">{{tranDetails?.double_spend}}</p>
            <hr>
            <p class="font-weight-light">{{tranDetails?.size}} bytes</p>
            <hr>
            <p class="font-weight-light">{{tranDetails?.time * 1000 | date: 'yyyy-MM-dd HH:mm'}}</p>
            <hr>
        </div>
    </div>

    <h1 class="display-5 ml-4">Inputs</h1>
    <div *ngFor="let i of tranDetails?.inputs; let in=index" class="ml-5 mt-3 jumbotron">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">
                        <p class="font-weight-light">Index</p>
                        <p class="font-weight-light">Address</p>
                    </div>
                    <div class="col-md-10 pl-5">
                        <p class="font-weight-light">{{in}}</p>
                        <p class="font-weight-light">{{i.prev_out.addr}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-weight-light">Details</p>
                        <p class="font-weight-light">Value</p>
                    </div>
                    <div class="col-md-8">
                        <p class="font-weight-light text-primary">Output</p>
                        <p class="font-weight-light">{{i.prev_out.value / 100000000}} BTC</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="font-weight-light">Sequence</p>
                <p class="font-weight-light">Script</p>
            </div>
            <div class="col-md-10">
                <p class="font-weight-light" >{{i.sequence}}</p>
                <p class="font-weight-light" id="seq"> {{i.script}}</p>
            </div>
        </div>
    </div>
    <hr> 
    <h1 class="display-5 ml-4">Outputs</h1>
    <div *ngFor="let i of tranDetails?.out; let in=index" class="ml-5 mt-3 jumbotron">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-2">
                        <p class="font-weight-light">Index</p>
                        <p class="font-weight-light">Address</p>
                    </div>
                    <div class="col-md-10 pl-5">
                        <p class="font-weight-light">{{in}}</p>
                        <p class="font-weight-light">{{i.addr}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-4">
                        <p class="font-weight-light">Details</p>
                        <p class="font-weight-light">Value</p>
                    </div>
                    <div class="col-md-8">
                        <p class="font-weight-light text-primary">
                            <span *ngIf="i.spent" class="text-danger">Spent</span>
                            <span *ngIf="!i.spent" class="text-success">Unspent</span>
                        </p>
                        <p class="font-weight-light">{{i.value / 100000000}} BTC</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="font-weight-light">Script</p>
            </div>
            <div class="col-md-10">
                <p class="font-weight-light" id="seq"> {{i.script}}</p>
            </div>
        </div>
    </div>
</div>
