<app-side-bar class="col-3"></app-side-bar>
<div class="col-9">
   <div class="list-container">
      <h2 class="mt-2">Transactions for BTC Address: {{address}}</h2>
      <input [(ngModel)]="satoshiValue" type="number" id="value" placeholder="Filter by value in Satoshi">
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport ">
        <ng-container *cdkVirtualFor="let item of ds" class="example-item">
            <app-transaction-overview [transaction]="item" [address]="address" [value]="satoshiValue"></app-transaction-overview>
         </ng-container>
      </cdk-virtual-scroll-viewport>
      </div>
</div>


