.container{
    margin:3em;
}

h2{
    color:#293972;
    font-family: 'Roboto', sans-serif;
}

#value{
        border: solid 1px #293972;
        border-radius: 5px;
        margin-top: 20px;
        padding:8px ;
        background-color: #f7f7f7;
        width: 98.2%;
}